{% extends 'base.html' %}
{% load i18n %}
{% load app_filters %}
{% block additional-headers %}
    <head>
        <title>
            {% block title %} Module New Entry Settings {% endblock %}
        </title>
    </head>

    <style>
        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: none;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .panel-group .panel {
            margin-bottom: 0;
            border-radius: 0;
        }

        .panel-group .panel + .panel {
            margin-top: 0;
        }

        .panel-default {
            border: none;
        }

        .panel-heading {
            padding: 20px 15px;
            border: none;
            border-radius: 0;
        }

        .panel-default > .panel-heading {
            color: #333;
            background: none;
            border-top: 1px solid #ddd;
        }

        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border: none;
        {#            background: #e8e7e4;#}
        }

        .panel-sub-body {
            padding: 10px;
            background: white;
        }

        .panel-heading .accordion-toggle:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading .accordion-toggle.collapsed:after {
            content: "\e080";
        }


    </style>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css" media="all"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/semantic.min.css"
          media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/plugins/select2/select2_metro.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">


    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">

{% endblock %}

{% block content %}


    {#    <form action="/usermodule/register">#}
    {#        <input type="submit" class="btn red pull-right" value="Register User" style="margin-bottom:15px;">#}
    {#    </form>#}

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-adn"></i>Module New Entry Settings</div>
        </div>
        <div class="portlet-body">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo">
                                Define Entry Type
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form id="entry-form">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="row panel-sub-body">
                                            <div class="col-md-4"><label>Entry Type</label></div>
                                            <div class="col-md-6">
                                                <select class="form-control" name="entry_type" id="entry_type"
                                                        onchange="var changed_val= $(this).val(); onChangeEntryType(changed_val);">
                                                    <option value="">Select</option>
                                                    <option selected value="1">Blank</option>
                                                    <option value="2">Custom</option>
                                                </select>
                                                <span id="entry_type_error"></span>
                                            </div>
                                        </div>
                                        <div id="custom_div" style="display: None;">
                                            <div class="row panel-sub-body">
                                                <div class="col-md-4"><label>Data Source Type</label></div>
                                                <div class="col-md-6">
                                                    <select name="datasource_type" class="form-control" id="datasource_type"
                                                            onchange="var changed_val= $(this).val();changeSourceDropdown(changed_val);"
                                                            required>
                                                        <option value="">Select</option>
                                                        {% for m,n in datasource_type_choices %}
                                                            <option value="{{ m }}"{% if datasource_type == m %}
                                                                    selected {% endif %}>{{ n }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row panel-sub-body">
                                                <div class="col-md-4"><label>Data Source</label></div>
                                                <div class="col-md-6">
                                                    <select name="datasource" class="form-control" id="list_datasource"
                                                            onchange="var changed_val= $(this).val();onChangeDataSource(changed_val,null);"
                                                            required>


                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row panel-sub-body">
                                                <div class="col-md-4">
                                                    <label>Searching Attribute</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <select name="searching_attribute" class="form-control"
                                                            id="searching_attribute"
                                                            required>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row panel-sub-body">
                                                <div class="col-md-4">
                                                    <label>Module Name (Bangla)</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" type="text" id = "search_field_name_bangla" name="search_field_name_bangla"
                                                        required/>
                                                </div>
                                            </div>
                                            <div class="row panel-sub-body">
                                                <div class="col-md-4">
                                                    <label>Module Name (English)</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" type="text" id = "search_field_name_english" name="search_field_name_english"
                                                        required/>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div id="czContainer" class="col-md-12">
                                            <div id="format-table-parent" style="padding-top: 20px;  display:None; height:400px;overflow:scroll;">
                                                <table id="format-table" style="background: white"
                                                        class="table table-bordered table-striped">
                                                    <tbody>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree">
                                Publish
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="checkbox" id="first" style="padding-top: 20px;">
                                        <label><input id="entry_publish" type="checkbox">Publish The
                                            Changes</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFour">
                                Status
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="checkbox" id="first" style="padding-top: 20px;">
                                        <label><input id="entry_status" type="checkbox">Inactive Module</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn pull-right" onclick="history.go(-1);" style="margin-right:10px;" type="button" class="btn default">Cancel</button>
            <button type="submit" class="btn red pull-right" onclick="saveData();">Save</button>
        </div>

    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete a user, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="#" class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional-javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/czMore/js/jquery.czMore-1.5.3.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>

    <!-- Latest compiled and minified CSS -->


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script>

        var module_id = {{ module_id }};
        var edited = '{{ edited  }}';
        var datasource_choices = {{ datasource_choices|safe }};
        var table_choices = {{ table_choices|safe }};
        var multipleFieldParent;
        var presentFilter = [];
        var presentColumn = [];
        var destinationInputHtml=''
        var columnDef;
        $('.delete-user-item').on('click', function (e) {
            var criteria_id = $(this).attr("data-href");
            $('.btn-ok').attr("href", criteria_id);
        });

        function onChangeEntryType(changedVal) {
            if (changedVal == '1') {
                $('#custom_div').hide();
                $('#entry_type_error').html("");
            }
            else if (changedVal === '2') {
                $('#custom_div').show();
                $('#entry_type_error').html("");
            }
        }


        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };


        function onChangeDataSource(changed_val,searching_attribute) {
            var datasource = $('#datasource_type').val();
            var datasource_type = ((datasource === '2') ? 'datasource' : 'table');
            $.ajax({
                type: 'POST',
                url: "/bhmodule/get-column-name/",
                data: {'datasource_name': changed_val, 'datasource_type': datasource_type},
                success: function (data) {
                    var data_list = JSON.parse(data)
                    var option = '';
                    option = '<option value="">Select </option>';
                    for (var d in data_list) {
                        var l = data_list[d];
                        var selected = '';
                        if (searching_attribute === l["column_name"])
                            selected = 'selected';
                    
                        option += '<option value="' + l["column_name"] + '" '+selected+' >' + l["column_name"] + ' </option>';
                    }
                    $('#searching_attribute').html(option);

                    {% comment %} format-table-parent {% endcomment %}

                    var table = $('#format-table');
                    table.find("tbody tr").remove();
                    table.append('<tr><td></td><td><b>Attribute Name</b></td><td><b>Column Title(English)</b></td> <td><b>Column Title(Bangla)</b></td><td><b>Destination Input(If Needed)</b></td></tr>');
                    for (var d in data_list) {
                        var l = data_list[d];
                        console.log(l);
                        var tablerow = '<tr id="' + l["column_name"].replace(/ /g,"_") + '">';
                        tablerow += '<td ><input  type="checkbox" onclick="var changed_val= $(this).is(\':checked\');getInputField(\'' + l["column_name"].replace(/ /g,"_") + '\',changed_val)"></td><td>' + l["column_name"] + '</td>';
                        tablerow += '<td></td><td></td><td></td></tr>';
                        table.append(tablerow);
                    }

                    $( "#format-table tbody" ).sortable({
                        update: function(event, ui) {
                            var productOrder = $(this).sortable('toArray');
                            console.log(productOrder);
                        }
                    });
                    $('#format-table-parent').css('display','block');


                    populateColumnTable(columnDef);
                },
                error: function (xhr, status, error) {
                    $('#del_modal').modal('show');
                }
            });
        }


        function getInputField(element, checked) {
            console.log(checked);
            if (checked) {
                presentColumn.push(element);
                console.log(element);
                $("#" + element).find('td').eq(2).html('<input class="form-control" style="" type="text" name="' + element + '@english">');
                $("#" + element).find('td').eq(3).html('<input class="form-control" type="text" name="' + element + '@bangla">');
                $("#" + element).find('td').eq(4).html('<select class="form-control" type="text" name="' + element + '@destination_input">'+destinationInputHtml+'</select>');
            }
            else {
                console.log("inchecking"+element);
                var index = presentColumn.indexOf(element);
                if (index > -1) {
                    presentColumn.splice(index, 1);
                }
                {% comment %} $("#" + element).find('td').eq(3).html(''); {% endcomment %}
                for (var i =2 ;i<6; i++){
                    $("#" + element).find('td').eq(i).html('');
                }
            }
        }


        function changeSourceDropdown(changedVal) {
            var option = '';
            console.log("Here");
            console.log(changedVal);
            if (changedVal === '1') {
                {#                var data_list = JSON.parse(table_choices);#}
                option = '<option value="">Select </option>';
                for (var d in table_choices) {
                    option += '<option value="' + table_choices[d]["table_name"] + '">' + table_choices[d][["table_name"]] + ' </option>';
                }
            }
            else if (changedVal === '2') {
                {#                var data_list = JSON.parse(table_choices);#}
                option = '<option value="">Select </option>';
                for (var d in datasource_choices) {
                    option += '<option value="' + datasource_choices[d]["id"] + '">' + datasource_choices[d][["title"]] + ' </option>';
                }
            }

            $('#list_datasource').html(option);
            $('.select-picker').selectpicker('refresh');

        }


        function form_validation(){
            var entry_type = $('#entry_type').val();
             if (entry_type === ''){
{#                alert("Entry Type need to selected");#}
                $('#entry_type_error').html("<p>This field is required</p>");

                 return false;
            }
            else{
                 return true;
             }
        }



        function populateColumnTable(columnDef) {
            console.log(columnDef);
            for (var i = 0; i < columnDef.length; i++) {
                var element = columnDef[i].field_name;
                var checked = '';
                var is_hidden = '';
                var is_exportable = '';
                var label = columnDef[i].label;
                var local = label['Bangla'];
                var english = label['English'];
                var destination_input = columnDef[i].destination_input;

                $("#" + element).find('td').eq(0).html('<input  type="checkbox" onclick="var changed_val= $(this).is(\':checked\');getInputField(\'' + element + '\',changed_val)" checked>')
                var secondCol = $("#" + element).find('td').eq(2).html('<input class="form-control" style="" type="text" name="' + element + '@english" value="' + english + '"> ');
                var thirdCol = $("#" + element).find('td').eq(3).html('<input class="form-control" style="" type="text" name="' + element + '@bangla" value="' + local + '"> ');
                $("#" + element).find('td').eq(4).html('<select class="form-control" id="' + element + '@destination_input" type="text" name="' + element + '@destination_input">'+destinationInputHtml+'</select>');

                $('#'+ element + CSS.escape('@destination_input')).val(destination_input);

            }

        }


        function saveData() {
            var formValid = form_validation();
            if (formValid){
                 var entry_type = JSON.stringify($('#entry-form').serializeObject());
                 var entry_publish = $('#entry_publish').is(':checked');
                 var entry_status = $('#entry_status').is(':checked');
                $.ajax({
                    type: 'POST',
                    url: '/bhmodule/add/entry-settings/' + module_id + '/',
                    data: {'entry_info':entry_type,'publish':entry_publish,'status':entry_status},
                    success: function (response) {
                        console.log(response);

                        window.location.href = response;
                    },
                    error: function (xhr, status, error) {

                    }
                })
            }
        }


        function formInputDropdown(inputData) {
            var optionHtml = '<option value="">Select <option>';
            for (var key in inputData) {
                optionHtml += "<option value='" + inputData[key].field_name + "'>" + inputData[key].field_name + "</option>"
            }
            
            return optionHtml;
        }


        $(document).ready(function () {

            $('.select-picker').selectpicker();
            console.log(edited);
            if (edited === 'True'){
                var entryType = '{{  entry_type}}';
                var publish = '{{ publish_status }}';
                var status = '{{ status }}';

                var formInput = {{form_input_list|safe}};

                destinationInputHtml = formInputDropdown(formInput);
                console.log(formInput);
                console.log(publish);
                console.log(status);
                $('#entry_type').val(entryType);
                onChangeEntryType(entryType);
                if (entryType === '2'){
                    var settings = {{ custom_settings|safe }};
                    console.log(settings);
                    $('#datasource_type').val(settings['datasource_type']);
                    changeSourceDropdown(settings['datasource_type']);
                    $('#list_datasource').val(settings['datasource']);
                    onChangeDataSource(settings['datasource'],settings['searching_attribute']);
                    columnDef = settings['col_def'];
                    
                    
                    $('#search_field_name_bangla').val(settings['search_field_name_bangla']);
                    $('#search_field_name_english').val(settings['search_field_name_english']);

                    {% comment %} $('#searching_attribute').val(settings['searching_attribute']); {% endcomment %}
                }


                if (publish==='1'){
                    // Check #x
                    $( "#entry_publish" ).prop( "checked", true );

                }

                if (status === '0'){
                    $( "#entry_status" ).prop( "checked", true );
                }

            }
            $('#user_table').dataTable({
                // set the initial value
                "iDisplayLength": 10,
                "sPaginationType": "bootstrap",
                "aLengthMenu": [
                    [10, 20, 50],
                    [10, 20, 50] // change per page values here
                ],
                "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [3]
                }
                ]
            });

            $('#user_table_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
            $('#user_table_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown

            if ($('.alert-block').is(':visible')) {
                window.setTimeout(function () {
                    $(".alert-success").fadeTo(1500, 0).slideUp(500, function () {
                        $(this).remove();
                    });
                }, 5000);
            }

        });


    </script>
{% endblock %}
