{% extends 'base.html' %}
{% load i18n %}
{% block additional-headers %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/BootSideMenu.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/select-picker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/Date-Range-Picker-For-Twitter-Bootstrap/daterangepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}assets/css/card.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- <link href="{{ STATIC_URL }}css/ios-switches.css" rel="stylesheet"> -->
    {% comment %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous"> {% endcomment %}


    <style>

        .panel {
            margin-bottom: 20px;
            background-color: #f5f5f5;
            border: none;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .panel-group .panel {
            margin-bottom: 0;
            border-radius: 0;
        }

        .panel-group .panel + .panel {
            margin-top: 0;
        }

        .panel-default {
            border: none;
        }

        .panel-heading {
            padding: 20px 15px;
            border: none;
            border-radius: 0;
        }

        .panel-default > .panel-heading {
            color: #333;
            background: none;
            border-top: 1px solid #ddd;
        }

        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border: none;
            background: white;
        }

        .panel-sub-body {
            padding: 10px;
            background: white;
        }

        .panel-heading .accordion-toggle:after {
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
            color: grey;
        }

        .panel-heading .accordion-toggle.collapsed:after {
            content: "\e080";
        }


        .panel-body img {

            width: 50px;
            height: 60px;
            display: block;
            margin: auto;

        }

        .banner-cls {
            text-align: center;
            background-color: #47b857;
            padding: 8px;
            text-transform: uppercase;
            color: white;
        }

        .row-bottom-15 {
            margin-bottom: 15px;
        }
    </style>

{% endblock %}


{% block content %}
    <div class="row">
        {% if can_conf == True %}
            <div class="col-md-offset-8 col-md-4">
                <a href="/bhmodule/project-add/" class="btn red pull-right"><i class="fa fa-plus"
                                                                               aria-hidden="true"></i> Add Project</a>
            </div>
        {% endif %}
    </div>
    <br>

    <div class="col-md-12"><h3 class="banner-cls">Active Projects</h3></div>
    <div class="row row-bottom-15">
        {% for each in project_module_data %}

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div class="row">
                                <div class="col-md-9"><a style="font-size: 14px;"
                                                         href="/bhmodule/project-profile/{{ each.id }}/">{{ each.module_name_english }}</a>
                                    <small></small></div>
                                <div class="col-md-3 btn-group pull-right navbar-right">
                                    {% if can_conf == True %}
                                        <a class="tooltips" data-container="body" data-placement="top"
                                           data-toggle="modal"
                                           data-target="#confirm-settings"
                                           data-original-title="Settings"
                                           onclick="showProjectSettiings('{{ each.id }}','{{ each.module_name_english }}','{{ each.status }}', '{{ each.publish_status }}','{{ each.archive }}')"><i
                                                class="fa fa-2x fa-gear"></i></a>
                                        <a class="tooltips"
                                           href="/bhmodule/project-edit/{{ each.id }}/?next=/bhmodule/project-list/"
                                           data-original-title="Edit"><i style="margin-top: 5px;"
                                                class="fa fa-2x fa-pencil-square-o"></i></a>
                                    {% endif %}
                                </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- <img {% if each.icon and each.icon != 'None' %} src="/{{ each.icon }}"
                     {% else %} 
                        {% if each.module_type == '1' %} src="{{ STATIC_URL }}assets/img/bahis_icon/form_icon.png" 
                        {% elif each.module_type == '2' %} src="{{ STATIC_URL }}assets/img/bahis_icon/list_icon.png" 
                        {% else %} src="{{ STATIC_URL }}assets/img/bahis_icon/container.png" 
                        {% endif %}
                    {% endif %} > -->

                    </div>
                    <div class="panel-footer">

                        <p>Start Date: {{ each.starting_year }}</p>
                        <p>End Date: {{ each.ending_year }}</p>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>

            {% ifequal forloop.counter|divisibleby:"4" True %}
                </div>
                <div class="row row-bottom-15">
            {% endifequal %}


        {% endfor %}
        </div>

    <div class="col-md-12"><h3 class="banner-cls">Archived Projects</h3></div>
    <div class="row row-bottom-15">
        {% for each in archive_module_data %}

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div class="row">
                                <div class="col-md-9"><a
                                        href="/bhmodule/project-profile/{{ each.id }}/">{{ each.module_name_english }}</a>
                                    <small></small></div>
                                <div class="col-md-3 btn-group pull-right navbar-right">
                                    {% if can_conf == True %}
                                        <a class="tooltips" data-container="body" data-placement="top"
                                           data-toggle="modal"
                                           data-target="#confirm-settings"
                                           data-original-title="Settings"
                                           onclick="showProjectSettiings('{{ each.id }}','{{ each.module_name_english }}','{{ each.status }}', '{{ each.publish_status }}','{{ each.archive }}')"><i
                                                class="fa fa-2x fa-gear"></i></a>
                                        <a class="tooltips"
                                           href="/bhmodule/project-edit/{{ each.id }}/?next=/bhmodule/project-list/"
                                           data-original-title="Edit"><i style="margin-top: 5px;"
                                                class="fa fa-2x fa-pencil-square-o"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- <img {% if each.icon and each.icon != 'None' %} src="/{{ each.icon }}"
                     {% else %}
                        {% if each.module_type == '1' %} src="{{ STATIC_URL }}assets/img/bahis_icon/form_icon.png"
                        {% elif each.module_type == '2' %} src="{{ STATIC_URL }}assets/img/bahis_icon/list_icon.png"
                        {% else %} src="{{ STATIC_URL }}assets/img/bahis_icon/container.png"
                        {% endif %}
                    {% endif %} > -->

                    </div>
                    <div class="panel-footer">

                        <p>Start Date: {{ each.starting_year }}</p>
                        <p>End Date: {{ each.ending_year }}</p>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
            {% ifequal forloop.counter|divisibleby:"4" True %}
                </div>
                <div class="row row-bottom-15">
            {% endifequal %}


        {% endfor %}
        </div>


    <div class="modal fade" id="confirm-settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                    <h4 class="modal-title" id="myModalLabel"><span id="project_name"></span> Settings</h4>
                </div>

                <div class="modal-body">
                    <input name="project_id" id="project_id" type="hidden" value="">
                    <div class="form-check form-switch">
                        <label>Publish/Unpublish Project</label>
                        <input class="form-check-input ios-switch" type="checkbox" id="project-publish"/>
                        <label class="form-check-label" for=""
                        >Publish</label
                        >
                    </div>
                    <div class="form-check form-switch">
                        <label>Active/Inactive Project</label>

                        <input class="form-check-input ios-switch" type="checkbox" id="project-active"/>
                        <label class="form-check-label"
                        >Active</label
                        >
                    </div>
                    <div class="form-check form-switch">
                        <label>Archive Project</label>
                        <input class="form-check-input ios-switch" type="checkbox" id="project-archive"/>
                        <label class="form-check-label"
                        >Archive</label
                        >
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="#" class="btn btn-danger btn-ok" onclick="saveSettings()">Save Changes</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete a branch info, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="#" class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block additional-javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
    <script language="javascript" type="text/javascript"
            src="{{ STATIC_URL }}node_modules/data-forge/dist/web/index.js"></script>
    <script src="{{ STATIC_URL }}js/BootSideMenu.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/filter.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/select-picker.js" type="text/javascript"></script>


    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="{{ STATIC_URL }}js/Date-Range-Picker-For-Twitter-Bootstrap/date.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Date-Range-Picker-For-Twitter-Bootstrap/daterangepicker.js"
            type="text/javascript"></script>
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>-->
    {% comment %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script> {% endcomment %}


    <script>

        /**
         * This Function will show Project settings in the modal
         * @param: Json (id, project_name, active, publish, archive)
         * @zinia
         * */
        function showProjectSettiings(id, project_name, active, publish, archive) {
            $('#project_id').val(id);
            $('#project_name').html(project_name);

            if (active === '1') {
                $('#project-active').prop('checked', true);
            } else {
                $('#project-active').prop('checked', false);
            }

            if (publish === '1') {
                $('#project-publish').prop('checked', true);
            } else {
                $('#project-publish').prop('checked', false);
            }

            if (archive === '1') {
                $('#project-archive').prop('checked', true);
            } else {
                $('#project-archive').prop('checked', false);
            }

        }


        /**
         * This Function will save Project Settings
         * @param: Json (id, project_name, active, publish, archive)
         * @zinia
         * */
        function saveSettings() {
            var dataSet = {};
            dataSet['project_id'] = $('#project_id').val();
            dataSet['project_active'] = ($('#project-active').is(':checked') === true) ? '1' : '0';
            dataSet['project_publish'] = ($('#project-publish').is(':checked') === true) ? '1' : '0';
            dataSet['project_archive'] = ($('#project-archive').is(':checked') === true) ? '1' : '0';
            $.ajax({
                type: 'POST',
                url: "/bhmodule/project-settings/",
                data: dataSet,
                success: function (data) {

                    $('#confirm-settings').modal('hide');
                    showAjaxConfirmationMessages('success', "Settings added succesfully!");
                    location.reload();
                },
                error: function (xhr, status, error) {
                    $('#confirm-settings').modal('show');

                }
            });
        }


        /**
         * This Function will show message in top For Asynchronous Request
         * @param: Json (messages, type field)
         * @zinia
         * */
        function showAjaxConfirmationMessages(type, messages) {
            $("#div_messages").html("");
            $("#div_messages").append("<div class='alert alert-" + type + " fade in'><a class='close' href='#' data-dismiss='alert'>×</a> <p>" + messages + "</p></div>");
        } //end of showAjaxConfirmationMessages
    </script>
{% endblock %}