{% extends 'base.html' %}
{% load i18n %}

{% block additional-headers %}
<head>
    <title>
        {% block title %} Instances {% endblock %}
    </title>
</head>
{% load i18n %}

<style>
    .pager .previous>a, .pager .previous>span{ float:none; }
    .pager .next>a, .pager .next>span{ float:none; }
    .pager{ float:right; }
    .modal-header h3 {
        margin-left: 15px;
     }
     .modal {
	width: 60%;
	background-color: #fff;
	height: 40%;
	position: fixed;
	top: 10%;
	right: 0;
	bottom: 0;
	left: 20%;
    }
</style>

{% endblock %}

{% block content %}
{% load i18n %}
<div id="loading">
  <p> {% trans "Loading..." %} </p>
  <img id="loading-image" src="{{STATIC_URL}}images/ajax-loader.gif" alt="Loading..." />
</div>
{% if messages %}
<div>{{messages}}</div>
{% endif %}

       <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">Detail data view</div>
        </div>
                                <div class="portlet-body">
                                    <div id="data"></div>
                                    <div id = "data_table"  class="" style="margin-top: 20px;">
        <table id="root" class = "table table-bordered table-striped">


        </table>
</div>

                                <div class="slimScrollDiv" style="position: relative; width: auto; min-height: 20px;">

                                    <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 200px; background: rgb(161, 178, 189);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: yellow;"></div></div>
                            </div>
    </div>


 <div id="delete-modal" class="modal fade">
            <div class="modal-header">
              <a data-dismiss="modal" class="close">&times;</a>
              <h3>{% trans "Delete Confirmation" %}</h3>
            </div>
            <div class="modal-body">
              <p>{% trans "Are you sure you want to delete this record. If you are unsure about deleting this record press 'Cancel'." %}</p>
            </div>
            <div class="modal-footer">
              <a href="#" onclick="$('#delete-modal').modal('hide');" class="btn btn-danger">{% trans "Delete" %}</a>
              <a href="#" onclick="$('#delete-modal').modal('hide');" class="btn">{% trans "Cancel" %}</a>
            </div>
          </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
var form_owner = '{{ form_owner}}'
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.pagination.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/sammy-0.7.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/sammy-plugins/sammy.meld-0.7.1.min.js"></script>


<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/instance.js"></script>


    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.pagination.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/sammy-0.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox.min.js"></script>
    <script type="text/javascript" charset="utf-8"
            src="{{ STATIC_URL }}js/sammy-plugins/sammy.meld-0.7.1.min.js"></script>
    <script type="text/javascript">
        var omitFields = ['formhub-uuid', 'meta-instanceID', '_xform_id_string'];
        var separatedFields = ['areaName', 'slumName', 'username', 'area', 'hub', 'date', 'month', 'designation'];
        var _base_url = '{{ request.META.HTTP_HOST }}';
        var formTitle = '{{ form_title }}';
        var _id_string = '{{ id_string }}';
        var _username = '{{ username }}';
        var instance_id = {{ instance_id }};
        var prev_next_data = {{ prev_next_data|safe }};

        var form_data = {{ form_data_matrix | safe }};

        var form_uuid = '{{ form_uuid }}';

        var instance_uuid = '{{ instance_uuid }}';

        var languages = getFormLanguages(form_data);
        var default_language = languages[0];
        //var approvedef = {{ approvedef|safe }};

        if (default_language != 'Default') {
            languages.forEach(function (el) {
                $('#lang-switch').append($('<option>', {value: el}).text(el));
            });
            $('#lang-switch').show();
        }
        $('.page-title').html('<a href="/usermodule/shokhi/projects-views/{{ xform.id_string }}/"><small>' + formTitle + '</small></a> || Instance: ' + instance_id);

        function generateInstanceTable(form_data, omitFields, selected_lang) {
{#            var t = document.getElementById('root');#}
            for (var i in form_data){
                var mainField = form_data[i]._field_name.replace(/\//g, '-')
                var pField = form_data[i]._parent_field.replace(/\//g, '-')
		var prev_sl = 0
                var sl = form_data[i]._sl_no;
                if(i > 0){
                    prev_sl = form_data[i-1]._sl_no;
                }
                var tr = '';
                if (omitFields.indexOf(mainField)== -1) {
                    if (form_data[i]._field_type != 'repeat') {

                        if(pField == 'root' ){
                            var tr = document.createElement('tr');
                            tr.id =mainField
                            tr.innerHTML = '<td>'+getQuestionTitle(form_data[i], selected_lang)+'</td><td>'+getAnswerLabel(form_data[i], selected_lang)+'</td>';
                            //var tr = '<tr class="" id ="'+form_data[i]._field_name+'-'+form_data[i]._sl_no+'" > <td>'+getQuestionTitle(form_data[i], selected_lang)+'</td><td>'+getAnswerLabel(form_data[i], selected_lang)+'</td></tr>';
                            console.log(tr);
                            $('#'+pField).append(tr);
                        }
                        else{

                              var tr = document.createElement('tr');
                              tr.id = mainField;
			      if (prev_sl < sl) {
                                  var tr1 = document.createElement('tr');
                                  tr1.innerHTML = '<td colspan=2> </td>';
                                  $('#'+pField).append(tr1);
                              }
                              tr.innerHTML = '<td>'+getQuestionTitle(form_data[i], selected_lang)+'</td><td>'+getAnswerLabel(form_data[i], selected_lang)+'</td>';
                            //var tr = '<tr class="" id ="'+form_data[i]._field_name+'-'+form_data[i]._sl_no+'" > <td>'+getQuestionTitle(form_data[i], selected_lang)+'</td><td>'+getAnswerLabel(form_data[i], selected_lang)+'</td></tr>';
                              console.log(tr);
                              $('#'+pField).append(tr);
                        }

                    }
                    else if(form_data[i]._field_type == 'repeat' ){
                        var tr = document.createElement('tr');
                        var table = document.createElement('table');
{#                        tr.innerHTML = '<td colspan=2><table class = "table table-bordered table-striped" border=1 cellpadding=10 id ="'+mainField+'"></table> </td>';#}
                        tr.innerHTML = '<td colspan=2><div style = "padding-left: 1cm;"class = "sample"><table class = "table table-bordered table-striped" style="width:100%;" border=1  id ="'+mainField+'"><tr><td colspan=2>'+getQuestionTitle(form_data[i], selected_lang)+'</td></tr></table></div> </td>';
{#                        <td>'+getQuestionTitle(form_data[i], selected_lang)+'</td>#}//
                        console.log(tr);
                        $('#'+pField).append(tr);
                    }
                    //t.append(tr)i
                }
            }
        }



        function generateInstanceView(form_data, omitFields, selected_lang) {
            console.log(JSON.stringify(form_data));
            for (var i in form_data) {
                var mainField = form_data[i]._field_name.replace(/\//g, '-')
                var pField = form_data[i]._parent_field.replace(/\//g, '-')
                if (omitFields.indexOf(mainField) == -1) {
                    if (form_data[i]._field_type != 'repeat') {
                        if (form_data[i]._field_value != null) {
                            var tr = $('<div class="col-xs-3"> <div class="flex-element mt-element-ribbon bg-grey-steel"> <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-danger uppercase"> <div class="ribbon-sub ribbon-clip"></div>' + getQuestionTitle(form_data[i], selected_lang) + '</div><p class="ribbon-content">' + getAnswerLabel(form_data[i], selected_lang) + '</p></div></div>');
                        }
                    } else {
                        var tr = $('<div class="parent-table col-xs-12"> <div class="mt-element-ribbon"> <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-danger uppercase" style="cursor:pointer;"> <div class="ribbon-sub ribbon-clip"></div>' + getQuestionTitle(form_data[i], selected_lang) + '</div><div id="' + mainField + '"></div></div></div>');
                    }
                    if ($('#' + pField + '-' + form_data[i]._sl_no).length != 0) {
                        if (separatedFields.indexOf(mainField) == -1) {
                            $('#' + pField + '-' + form_data[i]._sl_no).append(tr);
                        } else {
                            $('#metaData').append(tr);
                        }
                    } else {
                        generateInnerTable(form_data[i]._sl_no, pField);
                        $('#' + pField + '-' + form_data[i]._sl_no).append(tr);
                    }
                }
            }
        }

        function generateInnerTable(slno, parent) {
            repeatContent = '<div class="child-table flex-container col-xs-12" id="' + parent + '-' + slno + '"><tr></tr></div>';
            $('#' + parent).append(repeatContent);
        }

        function getQuestionTitle(row_data, selected_lang) {
            if (row_data._field_name == '_submitted_by') {
                return 'Submitted By';
            } else if (row_data._field_name == '_submission_time') {
                return 'Submission time';
            } else {
                if (row_data._q_title.startsWith('{')) {
                    return JSON.parse(row_data._q_title)[selected_lang];
                } else {
                    return row_data._q_title;
                }
            }
        }

        function getAnswerLabel(row_data, selected_lang) {
            if (row_data._field_type != 'select one' && row_data._field_type != 'select all that apply') {
                if (row_data._field_type == 'photo') {
                    
                    src_url = form_uuid+'/'+instance_uuid+'/'+ row_data._field_value
                    var src = '/media/'+_username+'/attachments/'+src_url

                    //return '<a href="/media/' + _username + '/attachments/' + row_data._field_value + '" download><img src="/media/' + _username + '/attachments/' + row_data._field_value + '" height="42" width="42"></a>';
                    return '<a href="'+src+'" data-lightbox="image-1" data-title="' + row_data._field_value + '"><img height="100px" width="130px" src="'+src+'"></a>';
                }
                else {
                    return row_data._field_value;
                }
            } else {
                if (row_data._field_type == 'select one') {
                    if (row_data._a_title != null) {
                        if (row_data._a_title.startsWith('{')) {
                            return JSON.parse(row_data._a_title)[selected_lang];
                        } else {
                            return row_data._a_title;
                        }
                    } else {
                        return '';
                    }
                } else {
                    satitle = JSON.parse(row_data._a_title);
                    sa_title_label = '';
                    satitle.forEach(function (elm, vdx) {
                        if (elm.value_label != null) {
                            if (elm.value_label.startsWith('{')) {
                                sa_title_label += (vdx + 1) + ') ' + JSON.parse(elm.value_label)[selected_lang] + '  ';
                            } else {
                                sa_title_label += (vdx + 1) + ') ' + elm.value_label + '  ';
                            }
                        } else {
                            sa_title_label = '';
                        }
                    });
                    return sa_title_label;
                }
            }
        }

        function isObject(obj) {
            return obj !== null && typeof obj === 'object';
        }

        function getFormLanguages(form_data) {
            var omitFieldsLang = ['formhub/uuid', 'meta/instanceID', '_xform_id_string', 'username'];
            var first_field = '';
            var languages = [];
            var n = 0;
            for (var i = 0; i < form_data.length; i++) {
                if (omitFieldsLang.indexOf(form_data[i]._field_name) == -1) {
                    first_field = form_data[i]._q_title;
                    console.log(first_field);
                    break;
                }
            }
            if (first_field.startsWith('{')) {
                languages = Object.keys(JSON.parse(first_field));
            } else {
                languages.push('Default');
            }

            return languages;
        }

        function changeLanguage(obj) {
            selected_language = obj.value;
            $('#root-0').html('');
            generateInstanceView(form_data, omitFields, selected_language);
        }

        function generatePaginationLinks(prevNextData, username, id_string, instance_id, base_url) {
            var prev_link = '';
            var nxt_link = '';
            if (prevNextData[0] != undefined) {
                if (prevNextData[0][0] < instance_id) {
                    prev_link = '/' + username + '/forms/' + id_string + '/instance/?s_id=' + prevNextData[0][0] + '#/' + prevNextData[0][0];
                } else {
                    nxt_link = '/' + username + '/forms/' + id_string + '/instance/?s_id=' + prevNextData[0][0] + '#/' + prevNextData[0][0];
                }
            }
            if (prevNextData[1] != undefined) {
                nxt_link = '/' + username + '/forms/' + id_string + '/instance/?s_id=' + prevNextData[1][0] + '#/' + prevNextData[1][0];
            }


            if (prev_link != '') {
                $('#prev').append("<a onclick='openLink(\"" + prev_link + "\")' class='btn btn-info'>Previous</a>")
            }

            if (nxt_link != '') {
                $('#next').append("<a onclick='openLink(\"" + nxt_link + "\")' class='btn btn-info pull-right'>Next</a>")
            }
        }

        function openLink(url) {
            window.location.href = url;
        }

        $(document).ready(function () {
            generatePaginationLinks(prev_next_data, _username, _id_string, instance_id, _base_url);
            //generateInstanceView(form_data, omitFields, default_language);
            generateInstanceTable(form_data, omitFields, default_language);


        });

        
    </script>





<script type="text/javascript">
var formJSONUrl = "{% url "onadata.apps.logger.views.download_jsonform" username id_string %}";
var mongoAPIUrl = "{% url "onadata.apps.main.views.api" username id_string %}";
var deleteAPIUrl = "{% url "onadata.apps.main.views.delete_data" username id_string %}";
var app; // sammy app
var questions = {};
var languages = [];
// TODO: this re should only accept valid js variable names so numbers/letter/underscore
var cleanRe = /[\[\]\/]/g; // regular expression used to clean names with slashes
var cleanReplacement = '_';
var positionTpl = "{% trans 'Record {pos} of {total}' %}";
var numRecords = null;
var browsePos = null;

var canEdit = {% if can_edit %}true;{% else %}false;{% endif %}

(function($) {

  var _isFirstLoad = true
  

  app = $.sammy('#data', function() {
      this.use('Meld');

      // index route
      this.get('#/', function(context) {
          /// get the first response object
          // only re-direct if this is the first time
          if(_isFirstLoad)
              redirectToFirstId(context)
          else
              history.go(-2)// we first load instance, then redirect to instance#/ then to instance#/:id s we need to go back 2
          _isFirstLoad = false
      });

      // #/id route
      this.get('#/:id', function(context) {
          var id = this.params['id'];
          var query = '{"_id": ' + id + '}';
          _isFirstLoad = false
          loadData(context, query, canEdit);
      });

      // #uuid/uuid route
      this.get('#uuid/:uuid', function(context) {
          var uuid = this.params['uuid'];
          var query = '{"_uuid": "' + uuid + '"}';
          _isFirstLoad = false
          loadData(context, query, canEdit);
      });


      // Delete modal
      this.get('#del/:id', function(context) { with(this) {

            $("#delete-modal").modal("show");

      }
      });


      // Delete route
      this.get('#delete/:id', function(context) {

          var id = this.params['id'];
          /*var next = $('li.next').children('a').attr('href');
          next = next.replace("#/", "");

          var prev = $('li.prev').children('a').attr('href');
          prev = prev.replace("#/", "");
          var redirect_route = '#/';

          if(next > 0 && next != id ){
              redirect_route = '#/'  + next;
          }
          else if(prev > 0 && prev != id ){
              redirect_route = '#/'  + prev;
          }
          else {
              // Deleting the last instance
              redirect_route ='#data-view/';
          }*/

          deleteData(context, id, _id_string, _username);
      });
      this.bind('error', {}, function(){
          //alert('Invalid route requested')
          //app.setLocation('#/');
      })

      // Redirect to Data View route
      this.get('#data-view/', function(context) {
          window.location.href = '{% url "onadata.apps.viewer.views.data_view" username id_string %}';
      });

  });

  /// load form structure
  $.getJSON(formJSONUrl)
      .success(function(data){
          //console.log("hgjghjmbjfsf"+data)
	      parseChoices(data.choices);
              parseQuestions(data.children);
              parseLanguages(data.children);
              // load count
              $.getJSON(mongoAPIUrl, {'count': 1})
                  .success(function(data){
                      console.log("data-->>>>>")
                      console.log(data)
                          //todo: count num records before and num records after so we know our starting point
                          numRecords = data[0]["count"];
                          // load id of first record
                          app.run('#/');
                      })
          });

})(jQuery);

function _attachment_url(name, size)
{
    return '{% url "onadata.apps.viewer.views.attachment_url" %}' + size + '?media_file=' + '{{ username }}/attachments/' + name;
}

</script>


<script type="text/javascript">
$(document).ready(function(){
    $('#loading')
        .ajaxStart(function() {
            $(this).show();
        })
        .ajaxStop(function() {
            $(this).hide();
        });
});
</script>
{% endblock %}
