{% extends 'base.html' %}
{% load i18n %}
{% block additional-headers %}
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock %}



{% block content %}
    {% if delete_success == '1' %}
        <div class="alert alert-success" role="alert">
            Item Succcessfully deleted
        </div>
    {% elif delete_success == '0' %}
        <div class="alert alert-danger" role="alert">
            Item deletion failed
        </div>
    {% endif %}
<div class="row">
    <div class="col-md-12">
        {% if can_conf == True %}
        <a href="/bhmodule/master-data-category-item/add/{{ category_id }}/">
            <button type="submit" class="btn btn-info pull-right" id="add_new" data-original-title=""
                    title="">Add New Item
            </button>
        </a>
        {% endif %}
    </div>
</div>
<br>

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-adn"></i>{{ category_name }} </div>
        </div>
        <div class="portlet-body">
            <table id="all_info_table" class="table table-bordered table-striped table-condensed flip-content nowrap">
                <thead class="flip-content">
                <tr>
                    <th>SL</th>
                    <th>Item Name English</th>
                    <th>Item Name Bangla</th>
                    <th>Item Name Value</th>
                    <th>Parent Category Name</th>
                    <th>Parent Category Item</th>
                    <th class="td-center">Action</th>
                </tr>
                </thead>
                {% for each in category_list %}
                    <tr>
                    <td>{{ each.sl }}</td>
                    <td>{{ each.name_eng }}</td>
                    <td>{{ each.name_bangla }}</td>
                    <td>{{ each.value }}</td>
                    <td>{{ each.parent_category|default_if_none:'' }}</td>
                    <td>{{ each.parent_category_value|default_if_none:'' }}</td>

                        <td>
                        <!-- <a class="tooltips" data-placement="top" data-original-title="View"
                              data-toggle="modal"
                        href="/cipmodule/master-category/view/{{ each.id }}/" > <i class="fa fa-eye" style="font-size: 20px; margin-left: 5px" ></i></a> -->
                        {% if can_conf == True %}
                            <a class="tooltips" data-placement="top" data-original-title="Edit"
                              data-toggle="modal"
                        href="/bhmodule/master-data-category-item/edit/{{category_id}}/{{ each.id }}/" > <i class="fa fa-edit" style="font-size: 20px; margin-left: 5px" ></i></a>
                    <a class="tooltips delete-item" id = "delete-item" data-placement="top" onclick="deleteHref('{{ each.id }}')" 
                    data-original-title="Delete" href="#" data-href="/bhmodule/master-data-category-item/delete/{{category_id}}/{{ each.id }}/" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-2x fa-trash-o"></i></a>
                        {% endif %}
                        </td>

                 </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete a branch info, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="#" class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block additional-javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>

    <script>
var table;
    $(document).ready(function () {

        table = $('#all_info_table').DataTable({
            "scrollX": true, "ordering": false,
            deferRender: true
        });

    });

       



        

        $('.delete-item').on('click', function (e) {
            var criteria_id = $(this).attr("data-href");
            $('.btn-ok').attr("href", criteria_id);
        });
        if ($('.alert-block').is(':visible')) {
            window.setTimeout(function () {
                $(".alert-success").fadeTo(1500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 5000);
        }
    </script>
{% endblock %}