{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section id="data-view">
    <span class="span12">
        <div class="data-table-container table table-striped table-hover">

            <h1>Please update your password</h1>
            {% if invalid %}
            <p>Your credentials are wrong try again</p>
            {% endif %}
            <form id="change_password_form" method="post" action="/usermodule/change-password/">
                {% csrf_token %}
                {{change_password_form.as_p}}
                <input type="submit" class="btn btn-primary btn-lg" value="Save" />
            </form>
            <div style="clear: both;"></div>
        </div>
    </span>
</section>
{% endblock %}
