{% extends 'base.html' %}
{% load i18n %}
{% block additional-headers %}
<head>
    <title>
        {% block title %} Reset Password {% endblock %}
    </title>
</head>
{% endblock %}
{% block content %}
<div class="col-md-offset-3 col-md-6">
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i> Password Reset : {{reset_user.username}}
            </div>
        </div>
        <div class="portlet-body form">
            <form class="horizontal-form" id="change_password_form" method="post" action="/usermodule/reset-password/{{id}}/"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                    <div class="form-group">
                        <label for="{{ reset_password_form.new_password.id_for_label }}">New Password:</label>
                        <input type="password" name="{{ reset_password_form.new_password.name }}" class="form-control">
                        <span class="help-block">{{ reset_password_form.new_password.errors.as_text }}</span>
                    </div>
                    <div class="form-group">
                        <label for="{{ reset_password_form.retype_new_password.id_for_label }}">Retype New Password:</label>
                        <input type="password" name="{{ reset_password_form.retype_new_password.name }}" class="form-control">
                        <span class="help-block">{{ reset_password_form.retype_new_password.errors.as_text }}</span>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn red pull-right">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}